ensemble                   NPT         (options: NVE, NVT, NPT, DPD, LA)  !LA:Lowe-Andersen
temperature                450         (Temperature (K))
pressure                   101.3       (Pressure (kPa))
atoms                      8184        (Number of atoms)
num_of_time_steps          40        (Number of time steps)
time_step                  0.001      (Time step in ps)
temperature_coupling_time  0.2D0       (Temperature relaxation time in ps)
pressure_coupling_time     5.0D0       (Pressure relaxation time in ps)
isothermal_compressibility 1.0D-6      (Isothermal compressibility (1/kPa))
hybrid_description         Y           (Do you want the hybrid description? YES(no adaptative), NO, ADAPTATIVE)
virtual_sites		   960	       (Number of virtual sites in system)
MTS                        N           (Options to activate the Multiple Time Step calculation)
bead_cutoff                1.200       (The cutoff distance for non-bonded interaction in nm for the beads)
bead_neighbour_list_cutoff 1.300       (The distance in nm up to which pairs of beads are included in the neighbour list)
non_bonded_bead            4           (Use non-bonded potential for bead on 1..4 OR 1..5? 4=1..4, 5=1..5)
com_update                 1           (Number of time steps between updating center of mass positions)
cutoff                     0.900       (The cutoff distance for non-bonded interaction in nm)
neighbour_list_cutoff      1.000       (The distance in nm up to which pairs of particles are included in the neighbour list)
update_neighbour_list      20          (Set intervals of neighbour list updates)
sampling                   10           (Interval of sampling of quantities)
trajectory                 10           (Number of time steps between storing configuration)
halt_drift                 100           (Interval at which the net drift of the system is reset to zero)
rolling_averages           10           (Number of time steps between storing average data and restart file)
non_bonded                 4           (Use non-bonded potential on 1..4 OR 1..5? 4=1..4, 5=1..5)
interaction                tabel       (Use guassian function for bond and bend interactions or tabels? (GAUSSIAN, TABLE))
initialize_velocities      N           (Do you want to restart the initial velocities (use Boltzmann distribution)? YES or NO)
end
